# Tutorial 3: Classification

Install pandas!

cite: https://www.kaggle.com/fabiendaniel/customer-segmentation

In [1]:
import pandas as pd #import the csv library for loading csv type files
import numpy as np

ec = pd.read_csv('data.csv', encoding="ISO-8859-1", dtype={'CustomerID': str,'InvoiceID': str})
ec.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [2]:
ec.shape

(541909, 8)

In [3]:
ec.dropna(inplace = True)

In [4]:
ec.shape

(406829, 8)

In [5]:
ec.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

In [6]:
print(ec['Country'].value_counts())

United Kingdom          361878
Germany                   9495
France                    8491
EIRE                      7485
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               1877
Portugal                  1480
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
USA                        291
Israel                     250
Unspecified                244
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     17
Saudi Arabia                10
Name: Country, dtype: int64

In [7]:
new_ec = ec[['Quantity', 'UnitPrice', 'Country']]

In [8]:
new_ec.shape

(406829, 3)

In [9]:
#from sklearn import svm
#clf = svm.SVC(gamma=0.001, C=100.)

from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial')

In [10]:
train = new_ec[:300000]
test = new_ec[300000:]

print("Train: " + str(len(train)) + " Test: " + str(len(test)))

Train: 300000 Test: 106829

In [11]:
clf.fit(train.loc[:, train.columns != 'Country'], train['Country'])

/usr/local/lib64/python3.6/site-packages/sklearn/linear_model/logistic.py:757: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=None, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [12]:
preds = clf.predict(test.loc[:, test.columns != 'Country'])

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(preds, test['Country'])

0.90780593284595

In [16]:
preds.count('United Kingdom')

AttributeError: 'numpy.ndarray' object has no attribute 'count'